* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ecf0f1;
}

a:hover {
    text-decoration: none;
}


/* navbar */

.navbar {
    padding: 5px 0;
    margin-bottom: 0;
    border: 0;
    font-weight: bold;
    opacity: 0.9;
    background-color: #00483d;
    transition: all 1s;
    font-family: Arial, Helvetica, sans-serif;
}

nav .navbar-brand,
.nav li a {
    color: white !important;
}

nav .navbar-brand:hover,
.nav li a:hover {
    background-color: rgba(26, 188, 156, 1.0) !important;
}

.nav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    outline: none;
}

.nav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #00483d;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.nav .search-container button:hover {
    background: rgba(26, 188, 156, 1.0) !important;
}

@media screen and (max-width: 600px) {
    .nav .search-container {
        float: none;
    }
    .nav a,
    .nav input[type=text],
    .nav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .nav input[type=text] {
        border: 1px solid #ccc;
    }
}


/* content section */

#content {
    margin-top: 70px;
    background-color: white;
}


/* slideshow */

ul.banner-slide li {
    list-style: none;
    display: inline-block;
    width: 19%;
    padding: 10px 0;
}

ul.banner-slide li a {
    color: black;
    text-decoration: none;
}

ul.banner-slide li:hover {
    text-decoration: none;
    border-bottom: 3px solid red;
    font-weight: bold;
}


/* tin tức cột 2 */

#news {
    margin-top: 70px;
    border-radius: 15px;
}

#news img {
    width: 100%;
    margin-bottom: 10px;
}


/* sản phẩm nổi bật */

#product {
    background-color: white;
}

#product .row {
    margin-top: 20px;
}

#product img {
    width: 100%;
    border-radius: 5px;
}

#product a:hover img {
    transform: scale(0.8);
    transition: all 0.5s;
}

#product figcaption {
    padding: 10px;
}

#product a {
    color: black;
    text-decoration: none;
}

#product strong {
    color: red;
}

#product button {
    padding: 7px;
    background-color: rgba(44, 62, 80, 1.0);
    color: white;
    border: 0px;
    border-radius: 5px;
    margin-bottom: 5px;
}


/* footer */

footer {
    background-color: #00483d;
    color: white!important;
    margin-top: 10px;
}

footer h3 {
    text-align: center;
    font-weight: bold;
}

footer li {
    list-style: none;
    margin: 10px 0;
}

footer li a {
    color: white;
    text-decoration: none;
}